---
type Props = {
    text: string,
    id?: string,
    className?: string
    typeBtn?: "button" | "reset" | "submit" | null | undefined
}

const { text, id, className, typeBtn } = Astro.props as Props;
---

<button 
    type={typeBtn}
    id={id}
    class=`px-8 py-2 bg-black text-white text-sm rounded-md font-semibold hover:bg-black/[0.8] hover:shadow-lg ${className}`
>
{text} 
</button>