---
import MainLayout from "../layouts/mainLayout.astro";
import NavBar from '../post/presentation/components/navbar.astro'
import Header from "../post/presentation/components/header.astro";
import { AllPostsContent } from "../post/presentation/components/allPostsContent";
import { db, Categories } from "astro:db";

const allPostsReq = await fetch('http://localhost:4321/api/contentManagement/controller/getAllPosts');
const allPostsResponse = await allPostsReq.json();

const categories = await db.select().from(Categories);
---

<MainLayout 
	title=""
	description=""
>
	<NavBar/>
	<main class="w-[1500px] mx-auto">
		<Header posts={allPostsResponse}/>
		<AllPostsContent 
			categorieArr={categories} 
			posts={allPostsResponse} 
			client:load
		/>
	</main>
</MainLayout>